.section1
    display: flex
.play
    position: absolute
    width: 90px
.image-video
    position: relative
    height: 400px
    right: 30px
.sectionA
    padding-top: 30px
    padding-left: 250px
.sa-p2
    width: 400px
.left-s-side
    padding-right: 150px
.card1
     background-color: gray !important
     width: 300px
     height: 240px
     display: flex
     flex-direction: column
     justify-content: center
     padding-left: 3px
     &:hover
         background-color: $orange
         padding-bottom: 20px
         
.card2
     background-color: gray !important
     width: 300px
     height: 240px
     display: flex
     flex-direction: column
     justify-content: center
     padding-left: 3px
.card1,.card2,.card3over:hover
    background-color: #f06c14ee
.card3
     
     background-color: gray !important
     width: 300px
     height: 240px
     display: flex
     flex-direction: column
     justify-content: center
     padding-left:3px
     &:hover
        background-color: $orange !important
        padding-bottom: 20px
.g-card
    display: flex !important
    justify-content: center
    gap: 20px
.txt
    position: absolute
    top: 60%
    left: 50%
    transform: translate(-50%, -50%)
    color: white
    font-size: 13px
    font-weight: 600
    text-align: center
    text-transform: uppercase
    letter-spacing: 1px
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
    transition: 0.3s
    width: 100%
    padding: 0 40px
    p
        padding: 0 120px
        font-size: 13px
        font-weight: 600
        text-align: center
        justify-content: center
        text-transform: uppercase
.btn
    border-radius: 50px
    padding: 10px 30px
    font-size: 13px
    font-weight: 600
    text-align: center
    text-transform: uppercase
    letter-spacing: 1px
    padding: 6px 30px 8px 30px
    border: 1px solid $orange
    color: $white
    &:hover
        background-color: $orange
        color: $white
        border: 1px solid $orange
.why-us
    border: 1px solid $orange
    background-color: $orange
    color: $white
    border-radius: 50px
    padding: 6px 20px 8px 20px
    font-size: 13px
    margin:10px 0px
// .dropdownMenu2
//     position: relative !important
    
//     .dropdown-menu
//         position: absolute !important
//         top: 80%  !important
//         left: 820px !important
.menu-title
   font-size: 12px !important
.menu-pt
    padding-top: 60px !important  
    .menu-link
        text-decoration:none
        color: $black 

.last-menu
    padding-left: 219px

a
    text-decoration: none
    color: black
.center-side
    padding-left: 50px
.g-i-form
    width: 350px
    height: 300px
    
.bg-img
    height: 600px
    background-image: url(../images/events-bg.jpg)
.g-i-form
    height: 300px
    margin-top:20px
    padding-inline: 40px
.form-grp
    display: flex
    padding-bottom: 19px
    padding-top: 20px
    
    input
        width: 200px
   
    textarea
        width: 200px
form
    padding-left: 40px

textarea
    padding: 0 200px
.specials
    margin-top: 100px
.img-1:hover
    transform: scale(1.1)

.parent
    position: relative
    
    .p-part1
        background-color: $orange
        width: 290px
        height: 110px
        position: absolute
        top: 50%
        left: 200px
